h1, h2 {
	font-family: 'Vollkorn', serif;
}

#main { 
	padding: 4em;
}

input.big-search {
	display: block;
    width: 100%;
    padding: 0.2em;
    margin: 0.5em 0;
    font-size: x-large;
}

img.header-icon {
	height: 0.8em;
    margin-right: 0.2em;
}

body {
	background: url(/paper_fibers.png);
    font-family: 'Vollkorn', serif;
}


h2 span.inactive {
    color: #7f1104;
    text-decoration: underline;
    font-size: 0.6em;
}
