h1, h2 {
	font-family: 'Vollkorn', serif;
}

#main { 
	padding: 4em;
}

input.big-search {
	display: block;
    width: 100%;
    padding: 0.2em;
    margin: 0.5em 0;
    font-size: x-large;
}

img.header-icon {
	height: 0.8em;
    margin-right: 0.2em;
}
