<ul id='people-list' style='column-count: 3'>
{{#each people}}
    <li><a href='#!/people/{{DB_id}}'>{{title}} {{firstname}} {{lastname_keyname}}</a></li>
{{/each}}
</ul>
<ul class="pagination" id="main-pagination">
	</ul>
