<ul class="pagination" id="main-pagination"></ul>
<ul id='people-list' style='column-count: 3; list-style: none; padding: 0;'>
{{#each pubs}}
    {{#if header}}
    <li><h5 style='background-color: #e74107; color: white; padding: 0.2em;'>{{header}}</h5></li>
    {{/if}}
    <li style='margin-left: 0.5em;'><a href='#!/publications/{{DB_id}}'>{{title}}</a></li>
{{/each}}
</ul>
<ul class="pagination" id="main-pagination"></ul>
