<nav class="navbar navbar-tertiary wimic-fake-menu" role="navigation">
    <ul class="nav navbar-nav">
        <li class="first"> <a href="{{baseURL}}" data-page-url="{{baseURL}}"> All People </a></li>
        <li><a href="{{baseURL}}#!/publications/" data-page-url="{{baseURL}}/#!/publications"> All Publications </a></li>
    </ul>
</nav>
