<div id='irish-writers-main'>
	<div class='search-box'>
		<input type='text' class='big-search' id='name-filter' placeholder='Type to search..' value='{{initialSearchValue}}' />	
	</div>	
	<div>
		Sort by <a id='sort-surname'>Surname</a>, <a id='sort-firstname'>Firstname</a>, <a id='sort-surname'>Date of Birth</a>
	</div>
	<span id='list-target'></span>	
</div>
