<div id='irish-writers-main'>
	<small>A database of historic and contemporary writers from Ireland</small>
	<h2><span id='wimic-title'></span> <span class='inactive' id='switch-dimension'></span></h2>
	<input type='text' class='big-search' id='name-filter' placeholder='Type to search..' value='{{initialSearchValue}}' />	
	<div>
		Sort by <a>Surname</a>, <a>Firstname</a>, <a>Date of Birth</a>
	</div>
	<span id='list-target'></span>	
</div>
