<div id='irish-writers-main'>
	<div class='search-box'>
		<input type='text' class='big-search' id='name-filter' placeholder='Type to search..' value='{{initialSearchValue}}' />
	</div>
	<span id='list-target'></span>
</div>
